<!DOCTYPE html>

{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href= "{% static 'homework/css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="body">
<div class="header"><h1>{{container}}</h1></div>
<div class="main">
    <div class="inner_first"><h1>{{container}}</h1></div>
    <div class="inner_second"><h3>{{container}}</h3></div>
    <div class="inner_third"><h4>{{container}}</h4></div>
    <div class="inner_fourth"><h2>{{container}}</h2></div>
    <div class="inner_fifth"><h1>{{container}}</h1></div>
</div>
    <div class="footer"><h3>{{container}}</h3></div>
</div>
</body>
</html>